<form action="/insert_item" method="post">

  <div>
    <label for="link_url_box">Link URL</label>
    <input id="link_url_box" type="text" placeholder="Enter a URL..." name="query_link_url">
  </div>

  <div>  
    <label for="link_description_box">Link Description</label>
    <input id="link_description_box" type="text" placeholder="Enter a link description..." name="query_link_description">
  </div>

  <div>
    <label for="thumbnail_url_box">Thumbnail URL</label>
    <input id="thumbnail_url_box" type="text" placeholder="Enter a thumbnail URL..." name="query_thumbnail_url">
  </div>

  <button>Create item</button>	
</form>
